<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servletss.UploadServlet</servlet-class>
        <multipart-config>
            <location>/</location> <!-- Specify a temporary directory for storing uploaded files -->
            <max-file-size>1048576</max-file-size> <!-- Max file size in bytes -->
            <max-request-size>2097152</max-request-size> <!-- Max request size in bytes -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet>
        <servlet-name>UploadServletts</servlet-name>
        <servlet-class>Servletts.UploadServletts</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servletts.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>Servletts.UpdateStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServletts</servlet-name>
        <url-pattern>/UploadServletts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
</web-app>